cargas ≥ 0,50 | cargas ≥ 0,70;
AVE ≥ 0,50;
CR ≥ 0,80;
CFI > 0,90;
RMSEA < 0,08;
TLI ≥ 0.90;
χ²/df < 3 | χ²/df < 5

In [3]:
import pyreadstat

df, meta = pyreadstat.read_sav("../data/EXERCICIO_2025.sav")
df.head()

,CASO,f1,f2,f3,f4,f5,f6,f7,P1.1_QA,P1.2_QA,...,P7,P14,ltv2,tempo,clsocial,SATIS,LEAL,ATEND,FIN,TEC
0,NaN,1.0,3.0,6.0,1.0,1.0,50.0,18.0,8.0,6.0,...,3.0,2.0,1373.0,61.0,5.0,6.50,6.2,7.2,9.333333,8.50
1,NaN,1.0,1.0,5.0,1.0,1.0,36.0,35.0,8.0,7.0,...,1.0,1.0,1002.0,47.0,5.0,5.50,4.4,6.8,6.666667,8.00
2,NaN,1.0,3.0,5.0,1.0,1.0,72.0,73.0,10.0,10.0,...,2.0,2.0,2097.0,83.0,5.0,7.50,8.0,9.6,10.000000,8.00
3,NaN,1.0,3.0,9.0,1.0,1.0,24.0,27.0,6.0,6.0,...,1.0,2.0,802.0,35.0,4.0,6.25,6.2,6.4,7.666667,6.50
4,NaN,1.0,4.0,9.0,1.0,1.0,72.0,24.0,2.0,5.0,...,2.0,1.0,4835.0,78.0,4.0,5.25,4.4,4.4,5.666667,5.75

In [4]:
cols = [
    'P1.1_QA', 'P1.2_QA', 'P1.3_QA', 'P1.4_QA', 'P1.5_QA',
    'P1.6_QC', 'P1.7_QC', 'P1.8_QC', 'P1.9_QC',
    'P1.10_QT', 'P1.11_QT', 'P1.12_QT', 'P1.13_QT', 'P1.14_QT',
    'P1.15_QA', 'P1.16_QA', 'P1.17_QA',
    'P3.1_S', 'P3.2_S', 'P3.3_S', 'P3.4_S',
    'P6.1_L', 'P6.2_L', 'P6.3_L', 'P6.4_L', 'P6.5_L', 'P6.6_L'
]

clean_df = df[cols].copy()

clean_df.rename(columns=lambda c: c.replace('.', '_'), inplace=True)
clean_df.head()

,P1_1_QA,P1_2_QA,P1_3_QA,P1_4_QA,P1_5_QA,P1_6_QC,P1_7_QC,P1_8_QC,P1_9_QC,P1_10_QT,...,P3_1_S,P3_2_S,P3_3_S,P3_4_S,P6_1_L,P6_2_L,P6_3_L,P6_4_L,P6_5_L,P6_6_L
0,8.0,6.0,8.0,8.0,6.0,10.0,10.0,8.0,6.0,8.0,...,8.0,6.0,6.0,6.0,8.0,5.0,6.0,8.0,6.0,4.0
1,8.0,7.0,7.0,7.0,7.0,7.0,7.0,6.0,5.0,8.0,...,6.0,6.0,5.0,5.0,7.0,4.0,1.0,5.0,5.0,5.0
2,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,8.0,...,8.0,6.0,8.0,8.0,8.0,8.0,8.0,8.0,4.0,8.0
3,6.0,6.0,6.0,7.0,6.0,7.0,9.0,7.0,6.0,5.0,...,7.0,6.0,6.0,6.0,7.0,6.0,6.0,7.0,5.0,5.0
4,2.0,5.0,6.0,4.0,3.0,5.0,7.0,5.0,2.0,2.0,...,6.0,4.0,5.0,6.0,5.0,4.0,4.0,5.0,9.0,4.0

In [5]:
from semopy import Model

# Atendimento = QA
# Financeiro = QF
# QualidadeTecnica = QT
# Satisfacao = S
# Lealdade = L
# QA =~ P1.1_QA + P1.2_QA + P1.3_QA + P1.4_QA + P1.5_QA + P1.15_QA + P1.16_QA + P1.17_QA
# QF =~ P1.6_QC + P1.7_QC + P1.8_QC + P1.9_QC
# QT =~ P1.10_QT + P1.11_QT + P1.12_QT + P1.13_QT + P1.14_QT
# S =~ P3.1_S + P3.2_S + P3.3_S + P3.4_S
# L =~ P6.1_L + P6.2_L + P6.3_L + P6.4_L + P6.5_L + P6.6_L

mod = """
QA =~ P1_1_QA + P1_3_QA + P1_4_QA + P1_5_QA + P1_15_QA
QF =~ P1_6_QC + P1_7_QC + P1_8_QC
QT =~ P1_10_QT + P1_11_QT + P1_12_QT + P1_13_QT
"""

model = Model(mod)
model.fit(clean_df)

SolverResult(fun=np.float64(0.4578833976303116), success=np.True_, n_it=34, x=array([0.71709416, 1.26678951, 1.25727825, 0.75098404, 1.41212225,
       1.26028827, 1.22524576, 1.02955473, 0.99144588, 2.4227943 ,
       0.74454799, 1.03775196, 1.58393913, 2.44539875, 1.71408755,
       2.00342029, 1.97032241, 1.35758276, 1.66939053, 1.20532395,
       3.12284202, 2.41647019, 1.0355852 , 1.33016444, 0.88123734,
       0.84454063, 2.06464504]), message='Optimization terminated successfully', name_method='SLSQP', name_obj='MLW')

χ²/df < 5

CFI, GFI, TLI > 0.9

RMSEA < 0,08

In [6]:
from semopy import calc_stats

stats = calc_stats(model)
stats

,DoF,DoF Baseline,chi2,chi2 p-value,chi2 Baseline,CFI,GFI,AGFI,NFI,TLI,RMSEA,AIC,BIC,LogLik
Value,51,66,225.736515,0.0,2827.352812,0.936721,0.92016,0.896677,0.92016,0.918109,0.08345,53.084233,166.497981,0.457883

In [7]:
print("Default Model:", stats['chi2'] / stats['DoF'])
print("Independence Model:", stats['chi2 Baseline'] / stats['DoF Baseline'])

Default Model: Value    4.426206
dtype: float64
Independence Model: Value    42.838679
dtype: float64

In [8]:
# Regression Weights
estimates = (
    model.inspect(std_est=True)
         .query("op == '~' and lval.str.startswith('P')", engine='python')
)
estimates

        lval op rval  Estimate  Est. Std  Std. Err    z-value p-value
0    P1_1_QA  ~   QA  1.000000  0.764868         -          -       -
1    P1_3_QA  ~   QA  0.717094  0.618715    0.0532  13.479121     0.0
2    P1_4_QA  ~   QA  1.266790  0.814302  0.069746  18.162774     0.0
3    P1_5_QA  ~   QA  1.257278  0.858946  0.065936  19.068072     0.0
4   P1_15_QA  ~   QA  0.750984  0.598218  0.057779  12.997608     0.0
5    P1_6_QC  ~   QF  1.000000  0.665923         -          -       -
6    P1_7_QC  ~   QF  1.412122  0.829193  0.112329  12.571321     0.0
7    P1_8_QC  ~   QF  1.260288  0.635244  0.110042  11.452791     0.0
8   P1_10_QT  ~   QT  1.000000  0.678302         -          -       -
9   P1_11_QT  ~   QT  1.225246  0.897949    0.0724  16.923244     0.0
10  P1_12_QT  ~   QT  1.029555  0.823614  0.064188  16.039608     0.0
11  P1_13_QT  ~   QT  0.991446  0.749433    0.0669  14.819827     0.0

In [9]:
latent_scores = model.predict_factors(clean_df)
cor_matrix = latent_scores.corr()

print(cor_matrix)

          QA        QF        QT
QA  1.000000  0.568549  0.513850
QF  0.568549  1.000000  0.586149
QT  0.513850  0.586149  1.000000

### Variância Média Extraída (AVE)
Simplified formula

$$
\text{AVE} \;=\;
\frac{\displaystyle\sum \lambda^{2}}
     {\displaystyle\sum \lambda^{2} \;+\; \sum \epsilon}
$$


### Confiabilidade Composta (CR)
Simplified formula

$$
\text{CR} \;=\;
\frac{\displaystyle\left(\sum \lambda\right)^{2}}
     {\displaystyle\left(\sum \lambda\right)^{2} \;+\; \sum \epsilon}
$$

R2 > 0.2

In [10]:
standardized_loadings = (
    model.inspect(std_est=True)
    .query("op == '~' and lval.str.startswith('P')", engine='python')
    .loc[:, ['lval', 'rval', 'Est. Std']]  # Item, Fator, λ
    .rename(columns={'lval': 'Item', 'rval': 'Fator', 'Est. Std': 'lambda'})
)
standardized_loadings["lambdaˆ2"] = standardized_loadings["lambda"].apply(lambda x: x ** 2)
standardized_loadings["epsilon"] = standardized_loadings["lambdaˆ2"].apply(lambda x: 1 - x)
standardized_loadings

        Item Fator    lambda  lambdaˆ2   epsilon
0    P1_1_QA    QA  0.764868  0.585023  0.414977
1    P1_3_QA    QA  0.618715  0.382809  0.617191
2    P1_4_QA    QA  0.814302  0.663087  0.336913
3    P1_5_QA    QA  0.858946  0.737788  0.262212
4   P1_15_QA    QA  0.598218  0.357865  0.642135
5    P1_6_QC    QF  0.665923  0.443454  0.556546
6    P1_7_QC    QF  0.829193  0.687561  0.312439
7    P1_8_QC    QF  0.635244  0.403534  0.596466
8   P1_10_QT    QT  0.678302  0.460094  0.539906
9   P1_11_QT    QT  0.897949  0.806312  0.193688
10  P1_12_QT    QT  0.823614  0.678340  0.321660
11  P1_13_QT    QT  0.749433  0.561650  0.438350